name: Fast DDS Python Ubuntu CI

on:
  workflow_dispatch:
    inputs:
      os-version:
        description: 'OS version to run the workflow'
        required: false
        default: 'ubuntu-20.04'
        type: string
      colcon-args:
        description: 'Extra arguments for colcon cli'
        required: false
        type: string
      cmake-args:
        description: 'Extra arguments for cmake cli'
        required: false
        type: string
      ctest-args:
        description: 'Extra arguments for ctest cli'
        required: false
        type: string
      fastdds-python-branch:
        description: 'Branch or tag of Fast DDS Python repository'
        required: true
        type: string
      fastdds-branch:
        description: 'Branch or tag of Fast DDS repository'
        type: string
        required: true
      run-tests:
        description: 'Run test suite of Fast DDS python'
        required: false
        type: boolean
        default: true

  pull_request:
    types:
      - review_requested
    paths-ignore:
      - '**.md'
      - '**.txt'
      - '!**/CMakeLists.txt'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ubuntu-ci:
    uses: ./.github/workflows/reusable-ubuntu-ci.yml
    with:
      # It would be desirable to have a matrix of ubuntu OS for this job, but due to the issue opened in this ticket:
      # https://github.com/orgs/community/discussions/128118 , it has been set as a single OS job.
      os-version: ${{ inputs.os-version || 'ubuntu-20.04' }}
      label: 'ubuntu-ci'
      colcon-args: ${{ inputs.colcon-args }}
      cmake-args: ${{ inputs.cmake-args }}
      ctest-args: ${{ inputs.ctest-args }}
      fastdds-python-branch: ${{ inputs.fastdds-python-branch || github.ref || '1.0.x' }}
      fastdds-branch: ${{ inputs.fastdds-branch || '2.6.x' }}
      run-build: ${{ !(github.event_name == 'pull_request') && true || (!contains(github.event.pull_request.labels.*.name, 'skip-ci') && !contains(github.event.pull_request.labels.*.name, 'conflicts')) && true || false }}
      run-tests: ${{ ((inputs.run-tests == true) && true) || false }}
