name: Fast DDS Python Windows CI (weekly)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1' # Run at minute 0 on Monday

jobs:
  weekly-windows-ci-1_0_x:
    strategy:
      fail-fast: false
      matrix:
        vs-toolset:
          - 'v141'
          - 'v142'
    uses: eProsima/Fast-DDS-Python/.github/workflows/reusable-windows-ci.yml@1.0.x
    with:
      os-version: 'windows-2019'
      vs-toolset: ${{ matrix.vs-toolset }}
      label: 'weekly-windows-${{ matrix.vs-toolset }}-ci-1.0.x-2.6.x'
      fastdds-python-branch: '1.0.x'
      fastdds-branch: '2.6.x'
      run-build: false
      run-tests: false
